/* ADD YOUR STYLES HERE */

html, body {
	width: 100%;
}

.tablerows1 tr td {
    
    height: 25px;
    width: 200px;
         
}

.border-bottom1 {

	border-bottom: solid 1px black;
}

.border-bottom2 {

	border-top: solid 1px black;
}

.tablerows2 tr td {
    
    height: 25px;
    width: 200px;
       
}

 
.statsborder td {
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	width: 74px;
	padding: 10px;
	 

}


.superfont {
	font-size: 35px;
	font-weight: bold;

}

.littlefont {
	font-size: 15px;
	color: #777 !important;
}

 
.bargraph div {
	
	background-color:  #3399cc; 
	text-indent: 4px;
	color: white; 
	height: 25px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.bargraph  td{
	 
	 width: 500px;

}

.bargraph th {
	text-align: right;
	font-size: 15px;
	padding-right: 10px;
	width: 15%%;

}


 

	


/*.grey-box {
	 
	position: absolute;
	top: 0%
	left: 0%;
	width: 75%;
	height: 75%;
	background-color: grey;
	z-index: 0;
	opacity: .80;

}

.white-box {
	 
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	background-color: white;
	overflow: auto;
	z-index: 1;
	border-radius: 10px;

}

.close {

	border-radius: 10px;
	background-color: #ffa5a5;
	color: white;
	position: absolute;
	bottom: 10px;
	right: 30px;
	border: 1px solid black;
	text-align: center;
	padding: 10px 25px 10px 25px;

}*/

img {

	float: left;
	margin-right: 10px;
}

.heading-paragraph {
	margin-left: 60px;
}

.nested {
margin-left: 40px;

}









 





 












